In [1]:
# write functions to clean data entries / test progress of scrape

In [50]:
from pymongo import MongoClient #MongoDB
client = MongoClient('localhost',27017)
craigslist = client['craigslist']
listings = craigslist['listings']

In [86]:
listings.estimated_document_count()

59543

In [41]:
import pprint
pprint.pprint(list(listings.aggregate([{"$sample":{"size":1}}])))

[{'_id': ObjectId('60be91da5f2c8929d17d9061'),
  'city': 'fort smith',
  'des': ['\n        ',
          '\n2008 YEAR MODEL ',
          '\nNO BAFFLES ',
          '\n1,000 GALLON TANK',
          '\n(2) 3500LB AXLES',
          '\n110V PUMP COMES WITH IT ',
          '\nWORKS AS IT SHOULD ',
          '\nNO ISSUES ',
          '\n',
          '\n'
          'CALL, TEXT, OR EMAIL MICHAEL FOR MORE INFORMATION OR TO SETUP '
          'INSPECTION',
          '\n    '],
  'name': ['1000 GALLON FUEL TRAILER'],
  'post_id': 'post id: 7314075581',
  'price': '$4,800',
  'sub_cat': 'heavy equipment - by owner'}]

In [73]:
import pandas as pd

In [74]:
df = pd.DataFrame(list(listings.find()))

In [75]:
df.head(5)

,_id,post_id,city,sub_cat,price,name,des
0,60be8aa05f2c8929d17d4e56,post id: 7333177933,little rock,household items - by owner,$75,[Mini Refrigerator with freezer],"[\n , \nMini Refrigerator with freezer ..."
1,60be8aa15f2c8929d17d4e57,post id: 7332128348,auburn,cars & trucks - by owner,"$3,900",[JEEP COMPASS [2010]],"[\n , \nRUNS AND DRIVES 191K MI AUTOMAT..."
2,60be8aa15f2c8929d17d4e58,post id: 7329440520,northern WI,collectibles - by owner,$7,"[Royal Copenhagen, Lillebaelts-Broen, blue and...","[\n , \nPlate is about 3 1/4 in. ]"
3,60be8aa25f2c8929d17d4e59,post id: 7327604075,virgin islands,cars & trucks - by owner,$55,[Car rental],"[\n , \nCar for rent only 55 per day gi..."
4,60be8aa25f2c8929d17d4e5a,post id: 7329433284,northern WI,collectibles - by owner,$8,"[Royal copenhagen, Western Trail, 5 1/4 in. pl...","[\n , \nOBO, Like new condition ]"

In [77]:
#df['price'] = df['price'].str.replace(',','')
#df['price'] = df['price'].str.replace('$','')
#df['price'] = df['price'].apply(pd.to_numeric)
#(df['price'] == 0).sum()
#df['price'].isna().sum()
pd.set_option('display.max_rows', None)
#df.groupby('sub_cat')['price'].mean()

auburn = df[df['city'] == 'auburn']

In [78]:
auburn.head(5)

,_id,post_id,city,sub_cat,price,name,des
1,60be8aa15f2c8929d17d4e57,post id: 7332128348,auburn,cars & trucks - by owner,"$3,900",[JEEP COMPASS [2010]],"[\n , \nRUNS AND DRIVES 191K MI AUTOMAT..."
26995,60be96045f2c8929d17db7c9,post id: 7332142343,auburn,cars & trucks - by dealer,"$33,999",[2018 Mercedes-Benz CClass C Class C-Class C 3...,"[\n , \n\n , - , - 4D , - 4 C..."
27025,60be960a5f2c8929d17db7e7,post id: 7332166062,auburn,cars & trucks - by dealer,"$24,499",[2018 Mercedes-Benz GLA GLA 250 4MATIC 4 MATIC...,"[\n , \n\n , - , - 4D , - 4 C..."
27057,60be960d5f2c8929d17db807,post id: 7332194777,auburn,rvs - by owner,"$12,000",[2014 Coachman Clipper],"[\n , \nChristine sent May 31 at 3:38 P..."
27073,60be960f5f2c8929d17db817,post id: 7332193107,auburn,auto parts - by owner,$280,[2002 Ford Econoline Rear Seats],"[\n , \nUsed rear seats in decent condi..."

In [85]:
len(df['city'].unique())

33